*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFEAD8;
}

button{
    background-color: #FFEAD8;
    color: #000000;
}

button:disabled{
    background-color: #FFEAD8;
    color: #000000;
}